<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>注册</title>
    <style>
        body {
            background: url("img/back.webp") no-repeat;
            background-size: cover;
        }
    </style>
</head>
<body>
<div id="app">
    <div style="border:1px solid #ccc;margin: 200px auto;text-align: center;width:400px;height: 350px;padding: 30px 0 50px 0;border-radius: 10px;box-shadow: 0 0 10px rgba(0,0,0,.2)">
        <div style="width:80%;margin:0 auto;">
            <div id="font_denglu" style="font-size: 30px;font-weight: bolder">注册</div>
            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1"><i class="bi bi-person-circle"></i></span>
                <input id="username" type="text" class="form-control" placeholder="请输入账号" aria-label="Username" aria-describedby="basic-addon1" v-model="username">
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon2"><i class="bi bi-file-earmark-lock2"></i></span>
                <input type="password" class="form-control" placeholder="请输入密码" aria-label="Username" aria-describedby="basic-addon1" id="password" v-model="password">
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon3"><i class="bi bi-file-earmark-lock2"></i></span>
                <input type="password" class="form-control" placeholder="确认密码" aria-label="Username" aria-describedby="basic-addon1" id="confirm" v-model="confirm">
            </div>
            <div>
                <button type="button" class="btn btn-success" @click="register()" style="width:100%;margin:10px auto">注 册</button>
            </div>
            <div style="text-align:right">
                <a href="login.html">返回登录</a>
            </div>
        </div>
    </div>
</div>
</body>
<script src="./js/resourses.js"></script>
<script>
    new Vue({
        el: '#app',
        data() {
            return {
                username: '',
                password: '',
                confirm:''
            }
        },
        methods: {
            register() {
                if (!this.username||!this.password||!this.confirm) {
                    $.message({message:"请按照要求输入完整的信息",type:"success"})
                }
                else if (this.password !== this.confirm) {
                    $.message({message:"两次输入的密码不一致",type:"success"})
                }
                // 发送请求给后台
                else {
                    fetch("/user/register", {
                        method: "POST",
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify({username: this.username, password: this.password})   //转换成标准的字符
                    }).then(res => res.json())   //通过res.text的处理变成一个字符串，在这里直接把后台返回的数据解析成文本了。前台通过fetch获取的数据需要改成json来获取
                        .then(res => {   //res就是后台放回的结果
                            console.log(res)
                            // debugger
                            if (res.code === "200") {//判断请求是否成功
                                $.message({message:"注册成功",type:"success"})
                                // 设置延时函数
                                setTimeout(() =>{
                                    location.href = "/login.html"
                                },1000)
                            } else {
                                $.message({message:res.msg, type:'error'})
                            }
                        });
                }
            }
        }
    })
</script>
</html>